In [1]:
print("hai")

hai

In [2]:
# Tipe Data yang dimengerti Python

# tipe data primitif:
# - integer angka bulat 1 2 3 100 5000 1739
# - float angka dengan desimal 1.0 5.5 12.7589 1234.5678
# - string semua text yang di kutip, bisa kutip '' atau kutip ""
#     termasuk alfabet, angka 0123456789, simbol !@#$^, 
#     kalau dikutip jadi string
# - boolean tipe data True atau False

# tipe data terstruktur:
# - list []
#     kumpulan banyak data lain di satu tempat
#     setiap item dalam sebuah list punya angka index 
#     bisa ubah isi list, tambah item, kurang item, edit item 
# - tuple ()
#     kumpulan banyak data lain di satu tempat
#     setiap item dalam sebuah list punya angka index
#     tidak bisa ubah isi tuple, tambah item, kurang item, edit item
# - dictionary {}
#     kumpulan banyak data lain di satu tempat
#     setiap item dalam sebuah list punya string key
#     bisa ubah isi dictionary, tambah item, kurang item, edit item

In [3]:
# Integer
8

8

In [4]:
# cara cek tipe data kita gunakan type()
type(8)

int

In [5]:
# cara memperlihatkan hasil code nya jalan
# cara membuat output
# kita gunakan print()

print(type(8))

<class 'int'>

In [6]:
# float
print(type(12.5))

<class 'float'>

In [7]:
# string
print(type("kev"))

<class 'str'>

In [8]:
# boolean
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [12]:
# kita bisa tukar tukar tipe data

# int ke str
print(type(100))
print(type(str(100)))

<class 'int'>
<class 'str'>

In [13]:
# str ke int
print(type("90"))
print(type(int("90")))

<class 'str'>
<class 'int'>

In [20]:
# str yang tidak bisa di convert ke angka akan error kalau kita paksa
# convert jadi angka. misalkan "Andi" di convert ke int atau float, error.

In [14]:
# int ke float
# float ke int

In [15]:
# str ke float
# float ke str

In [19]:
# bool ke int
print(int(True))
print(int(False))
# int ke bool
print(bool(0))
print(bool(1))

1
0
False
True

In [21]:
# untuk boolean, semua data yang "ada isi" itu True
# semua data "kosong" itu False

# contoh data Falsy:
# 0
# 0.0
# ""
# False
# []
# ()
# {}

In [22]:
# supaya lebih mudah bermain dengan data
# kita pelajari konsep "Variable"
# tempat simpan data yang punya nama, dan bisa kita panggil

# Variable
# - huruf kecil semua
# - tidak dimulai dengan angka
# - tidak ada spasi, spasi kita ganti _
# - tidak menggunakan keyword python seperti print, type, int

In [23]:
nilai_andi = 70

# kita sudah membuat variable nilai_andi
# variable ini menyimpan data integer dengan value 70

In [24]:
umur = 27

# kita sudah membuat variable umur
# variable ini menyimpan data integer dengan value 27

In [25]:
print(nilai_andi)

70

In [26]:
# variable bisa kita panggil untuk mengakses data yang disimpan disana

# isi variable bisa kita ubah
# variable re-assignment
nilai_andi = 80

print(nilai_andi)

80

In [27]:
# data dalam sebuah varible bisa bertipe data apapun

msg = "hai"

msg = 123

msg = False

msg = 5.5

msg = "ok"

# variable akan mengingat yang paling terbaru saja, yang terakhir
# re-assignment terakhir variable msg adalah string "ok"
print(msg)

ok

In [28]:
print(type(msg))

<class 'str'>

In [29]:
# kenapa nama variable harus huruf kecil semua?
# sebenarnya python bisa bisa aja tidak harus huruf kecil
# ini lebih untuk diri kita sendiri sebagai manusia developer

umur = 1
Umur = 2
UMUR = 3
umuR = 4
Umur_ = 5
_umur = 6

# bagi python, di atas ada 6 variable berbeda
# bagi kita para manusia, di atas ada variable umur, cara tulis beda2

print(umur, Umur, UMUR, umuR, Umur_, _umur)

1 2 3 4 5 6

In [30]:
hacktiv8 = "tempat belajar Python"

In [31]:
# tipe data terstruktur

# list
# bisa simpan banyak data
# misal nama2 murid di kelas, ada 6 orang --> 6 variable?
# buat 1 saja variable, pakai list, dalam list kita isi 6 string
kelas = ["Andi", "Budi", "Cynthia", "Denisa", "Erika", "Farah"]

# jumlah barang dalam string tidak ada limit, bisa 0, bisa 100, 1000, ..

In [32]:
# cara ambil nama murid pertama di kelas?
# menggunakan nomor urut index
# angka dimulai dari 0
# nomor urut index dimulai dari 0, 0 untuk murid pertama
print(kelas[0])

# cara panggil menggunakan kurung kotak, tapi bukan untuk bikin list lagi
# karena di keyboard cuma ada [] () {} <>
# <> khusus HTML tidak dipakai di python kecuali untuk operator
# [] untuk bikin list di python, tapi juga untuk manggil index
#   termasuk index untuk list, tuple, dan key untuk dictionary
# () untuk bikin tuple di python, tapi juga dipakai untuk bikin function
#   juga untuk memisahkan operator matematika misalnya (3+4) * 6
# {} untuk bikin dictionary python

Andi

In [33]:
# teknik mengambil 1 item dari sebuah list/tuple dinamakan indexing
# murid ke-4 dari kelas
print(kelas[3])

Denisa

In [34]:
# teknik mengambil lebih dari 1 item dari sebuah list/tuple dinamakan
# slicing
# ambil murid ke-3 sampai terakhir di kelas
print(kelas[2:])

['Cynthia', 'Denisa', 'Erika', 'Farah']

In [35]:
# ambil Erika dan Farah
print(kelas[-2:])

['Erika', 'Farah']

In [36]:
# CRUD create read update delete
# bikin, baca, edit, hapus

# edit
# Erika digantikan Eren
kelas[-2] = "Eren"

In [37]:
print(kelas)

['Andi', 'Budi', 'Cynthia', 'Denisa', 'Eren', 'Farah']

In [38]:
# edit
# nambah item ke list
# Giovanni ikutan kelasnya juga
kelas.append("Giovanni")

In [39]:
print(kelas)

['Andi', 'Budi', 'Cynthia', 'Denisa', 'Eren', 'Farah', 'Giovanni']

In [40]:
# edit
# mengurangi item dari list
# Budi dikeluarkan dari kelas
kelas.remove("Budi")

In [41]:
print(kelas)

['Andi', 'Cynthia', 'Denisa', 'Eren', 'Farah', 'Giovanni']

In [42]:
# hapus

# hapus seluruh variable sama sekali kita bisa pakai del
# tapi ini jarang, biasanya variable yang sudah dibuat tidak dihapus
# karena kalau kita hapus, terus gk sengaja panggil variable, akan error
# del kelas

# yang lebih umum adalah "mengosongkan" variable nya
kelas = []

In [43]:
# kalau isinya kosong, kita bisa tanya boolean itu kosong/nggak

print(bool(kelas))

False

In [44]:
# Conditional
# teknik untuk menanyakan kondisi, pertanyaan ke komputer
# yang dijawab True/ False
# kalau True, kita bisa suruh jalanin code tertentu
# kalau False, kita bisa suruh jalanin code tertentu
# nama lain conditional adalah "percabangan"

In [47]:
# tuple
# biasanya untuk sesuatu yang tidak mau diubah
nilai_kelas = (50,60,40,80)

# cara baca sama seperti list, indexing slicing
# nilai pertama
print(nilai_kelas[0])

50

In [46]:
# edit 
# tidak di edit
# kita convert ke list, edit, convert balik ke tuple
nilai_kelas = list(nilai_kelas)
nilai_kelas.append(90)
nilai_kelas = tuple(nilai_kelas)

print(nilai_kelas)

(50, 60, 40, 80, 90)

In [48]:
# cara hapus
# del nilai_kelas
nilai_kelas = ()

In [49]:
print(nilai_kelas)

()

In [51]:
kelas = ['Andi', 'Budi', 'Cynthia', 'Denisa', 'Eren', 'Farah', 'Giovanni']
print(kelas[2:6])

['Cynthia', 'Denisa', 'Eren', 'Farah']

In [52]:
# dictionary
# gimana kalau nama murid dan nilai ujian mereka kita jadikan satu variable
# karena key bentuknya string, nama murid juga string
# kita bisa pakai nama murid sebagai key

kelas = {
    "Andi":80,
    "Budi":50,
    "Cynthia":60,
    "Denisa":78,
    "Eren":92,
    "Farah":43,
    "Giovanni":100
}

budi = {
    "nama": "Budiyanto Widjaya",
    "umur": 37,
    "hobi": ["tidur", "masak", "badminton"]
}

In [53]:
# nilai nya Farah di kelas berapa?
print(kelas["Farah"])

43

In [54]:
# hobi nya Budi apa?
print(budi["hobi"])

['tidur', 'masak', 'badminton']

In [55]:
# nambah murid di kelas, ada Helen
print(kelas)

{'Andi': 80, 'Budi': 50, 'Cynthia': 60, 'Denisa': 78, 'Eren': 92, 'Farah': 43, 'Giovanni': 100}

In [56]:
kelas["Helen"] = 79

In [57]:
print(kelas)

{'Andi': 80, 'Budi': 50, 'Cynthia': 60, 'Denisa': 78, 'Eren': 92, 'Farah': 43, 'Giovanni': 100, 'Helen': 79}

In [58]:
# cara hapus biasanya kita set None atau kosongin data
# Giovanni mau di hapus nilainya
kelas["Giovanni"] = None

In [59]:
print(kelas)

{'Andi': 80, 'Budi': 50, 'Cynthia': 60, 'Denisa': 78, 'Eren': 92, 'Farah': 43, 'Giovanni': None, 'Helen': 79}

In [60]:
del kelas["Giovanni"]

In [61]:
print(kelas)

{'Andi': 80, 'Budi': 50, 'Cynthia': 60, 'Denisa': 78, 'Eren': 92, 'Farah': 43, 'Helen': 79}

In [62]:
# hapus
# del kelas
kelas = {}

In [66]:
# operator matematika
# dengan numerik (int, float) (bisa di + - * / % **)
# dengan string (bisa di +)
# dengan list (bisa di +)

In [67]:
a = 10
b = 5

print(a + b - 30 * 4 / 12)

5.0

In [68]:
# modulo, mod, %, adalah cara bagi yang menyimpan sisa pembagian saja
# 5 bagi 3, adalah 1 sisa 2, jadi 5 % 3 = 2
print(5 % 3)

2

In [69]:
# 8756 ganjil atau genap?
# kalau dibagi 2 tidak ada sisanya, dia genap. kalau ada sisa, dia ganjil
print(8756 % 2)

0

In [70]:
message = "hai"
print(message)
print(message + " Kevin")

hai
hai Kevin

In [71]:
buah_buahan = ["apel"]

print(buah_buahan + ["jeruk"])

['apel', 'jeruk']

In [75]:
# string dan list bisa dikali angka
message = "saya tidak akan terlambat lagi"
print((message + "\n") * 10)

saya tidak akan terlambat lagi
saya tidak akan terlambat lagi
saya tidak akan terlambat lagi
saya tidak akan terlambat lagi
saya tidak akan terlambat lagi
saya tidak akan terlambat lagi
saya tidak akan terlambat lagi
saya tidak akan terlambat lagi
saya tidak akan terlambat lagi
saya tidak akan terlambat lagi

In [76]:
print(buah_buahan * 3)

['apel', 'apel', 'apel']

In [64]:
# operator pembanding
# > < >= <= == !=
# angka numerik (int, float)
# string

In [79]:
a = 10
b = 5

print(a, b)

print( a > b)
print( a < b)

10 5
True
False

In [81]:
a = 17
b = 7

print(a, b)
print( a >= b)
print( a <= b)

17 7
True
False

In [83]:
a = 5
b = 7

print(a, b)
print( a == b)
print( a != b)

5 7
False
True

In [84]:
print("hai" == "hai")

True

In [90]:
print(budi["nama"] == "Budiyanto Widjaya")

True

In [65]:
# operator in
# untuk mencari apakah ada hal1 di dalam hal2
# apakah ada "Python" di dalam "selamat datang ke kelas Python"
# apakah ada "Helen" di dalam kelas

In [92]:
kelas = ['Andi', 'Cynthia', 'Denisa', 'Eren', 'Farah', 'Giovanni']
print(kelas)

['Andi', 'Cynthia', 'Denisa', 'Eren', 'Farah', 'Giovanni']

In [93]:
# apakah ada "Helen" di kelas?
print("Helen" in kelas)

False

In [94]:
print("Cynthia" in kelas)

True

In [95]:
print(message)

saya tidak akan terlambat lagi

In [96]:
# apakah ada "terlambat" di message?
print("terlambat" in message)

True

In [97]:
# apakah ada "telat" di message?
print("telat" in message)

False

In [98]:
# string ada built-in function
# fungsi untuk dengan cepat mengubah sebuah string
print(message)

saya tidak akan terlambat lagi

In [99]:
# ubah jadi huruf besar semua
print(message.upper())

SAYA TIDAK AKAN TERLAMBAT LAGI

In [100]:
# ubah jadi Title Case
print(message.title())

Saya Tidak Akan Terlambat Lagi

In [101]:
# ubah jadi huruf kecil
message = "Hacktiv8 PYTHON data science Class"
print(message.lower())

hacktiv8 python data science class

In [102]:
# Conditional
# percabangan
nama = "Andi"
umur = 12

# kalau umurnya 13 tahun keatas, harus vaksin
if (umur >= 13):
    print("umurnya 13 keatas, harus vaksin")

In [103]:
umur = 17

# kalau umurnya 13 tahun keatas, harus vaksin
if (umur >= 13):
    print("umurnya 13 keatas, harus vaksin")

umurnya 13 keatas, harus vaksin

In [104]:
# kalau umurnya 13 tahun keatas, harus vaksin
# kalau nggak, harus isolasi mandiri di rumah

umur = 17

if (umur >= 13):
    print("umurnya 13 keatas, harus vaksin")
else:
    print("harus isolasi mandiri di rumah")

umurnya 13 keatas, harus vaksin

In [105]:
umur = 12

if (umur >= 13):
    print("umurnya 13 keatas, harus vaksin")
else:
    print("harus isolasi mandiri di rumah")

harus isolasi mandiri di rumah

In [107]:
# if dan else ada teman lagi, elif
# elif dipakai kalau ada pertanyaan nyambung setema

# kalau umurnya 65 tahun keatas, vaksin didahulukan
# kalau umurnya 13 tahun keatas, harus antri vaksin
# kalau nggak, harus isolasi mandiri di rumah

umur = 70
if (umur >= 65):
    print("umurnya 65 tahun keatas, vaksin didahulukan")
elif (umur >= 13):
    print("umurnya 13 keatas, harus antri vaksin")
else:
    print("harus isolasi mandiri di rumah")

umurnya 65 tahun keatas, vaksin didahulukan

In [108]:
# kondisi bisa lebih dari satu
# kondisi 1 dan kondisi 2 harus terpenuhi (and)
# kondisi 1 atau kondisi 2 terpenuhi salah satu sudah cukup (or)

# nested if
# setelah pertanyaan if pertama, 
#   ada pertanyaan if lagi di dalamnya, lanjutan, tapi cek harl berbeda

In [111]:
# kita mau cek apakah seseorang boleh naik roller coaster

# kalau dia member Disneyland, boleh, tapi, umur harus cukup
# minimal umur untuk naik roller coaster itu 12 tahun
# dan minimal tinggi 120cm
# kalau dia bukan member, boleh tapi bayar 50000

membership = True
uang = 10000
umur = 15
tinggi = 110

if (membership):
    # cek tinggi dan umur
    if (tinggi >= 120 and umur >=12):
        print("welcome member, boleh naik")
    else:
        print("welcome member, kurang tinggi/ belum cukup umur")
else:
    # cek uang dulu
    if (uang >= 50000):
        # cek tinggi dan umur
        if (tinggi >= 120 and umur >=12):
            print("lunas, boleh naik")
        else:
            print("kurang tinggi/ belum cukup umur")
    else:
        print("kurang cash, tidak bisa naik")

print("selesai")

selesai

In [112]:
# Looping/ Perulangan/ Iteration
# while: melakukan blok code yang sama ber kali kali 
#        sampai kondisi False
# for: melakukan blok code yang sama ber kali kali 
#      untuk setiap item dalam sebuah koleksi
#      koleksi termasuk: list, tuple, dictionary, string, range

In [4]:
# kalau anak ini umur di bawah 13 tahun, tidak boleh naik roller coaster

umur = 13
if (umur < 13):
    print("tidak boleh naik, masih umur", umur)
else:
    print("sudah umur 13+, boleh naik")

sudah umur 13+, boleh naik

In [7]:
# while loop
# selama anak ini umur di bawah 13 tahun, tidak boleh naik roller coaster

umur = 10
while (umur < 13):
    print("tidak boleh naik, masih umur", umur)
    umur = umur + 1
else:
    print("sudah umur 13+, boleh naik")

tidak boleh naik, masih umur 10
tidak boleh naik, masih umur 11
tidak boleh naik, masih umur 12
sudah umur 13+, boleh naik

In [9]:
# hitung 1-10

angka = 1
while (angka <= 10):
    print(angka)
    angka = angka + 1

1
2
3
4
5
6
7
8
9
10

In [20]:
# diberikan sebuah ember berisi bola, bentuk ember jadi list, bola jadi string
# bola merah, bola biru, bola hijau
# selama masih ada bola di ember, hitung total bola merah

ember = ["merah", "merah", "hijau", "kuning", "biru", "merah"]
total_bola_merah = 0

index = 0
total_bola = len(ember)

while (index < total_bola):
    bola = ember[index]
    
    if (bola == 'merah'):
        total_bola_merah = total_bola_merah + 1

    index = index + 1


print(total_bola_merah)

3

In [21]:
# for loop

ember = ["merah", "merah", "hijau", "kuning", "biru", "merah"]
total_bola_merah = 0

index = 0
total_bola = len(ember)

for bola in ember:
    if (bola == 'merah'):
        total_bola_merah = total_bola_merah + 1


print(total_bola_merah)

3

In [22]:
for huruf in "halo":
    print(huruf)

h
a
l
o

In [23]:
buah = {"nama":"apel", "harga":5700, "merk":"Fiji"}
for key in buah:
    print(key)

nama
harga
merk

In [24]:
for key in buah:
    print(key, buah[key])

nama apel
harga 5700
merk Fiji

In [25]:
for angka in range(10):
    print(angka)

0
1
2
3
4
5
6
7
8
9

In [26]:
for angka in range(1,11):
    print(angka)

1
2
3
4
5
6
7
8
9
10

In [27]:
for angka in range(5,26,5):
    print(angka)

5
10
15
20
25

In [28]:
for angka in range(100,-1,-10):
    print(angka)

100
90
80
70
60
50
40
30
20
10
0

In [ ]:
# dicoba buat loop nya, apakah sesuai ekspektasi hasilnya?